.constants_for_ide.php
*.tar
*.tar.gz
*.log
*.tmp
*.csv
/.idea/*
/en/ajax/*
/.htaccess
/bitrix/*
/bitrix/php_interface
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/after_connect_d7.php

/upload
/local/php_interface/vendor/
/local/modules/digitalwand.admin_helper/
/local/components/uplab/weather.info/data/
/local/components/uplab/weather.gismeteo/data/
/local/php_interface/include/constants.php

/local/components/uplab/weather.gismeteo/data/*

/local/components/uplab/weather.gismeteo/data/*.json

cmsmagazine*.txt
yandex_*.txt
yandex_*.html
sitemap*.xml
google*.html
#tmp